<!DOCTYPE html>
<html lang="{{ site.lang | default: "en" }}">
  <head>
    {%- include head.html %}
  </head>
  {% if site.navigation %}
    {% assign pages = site.navigation %}
  {% else %}
    {% assign pages = site.pages | where_exp: "item", "item.title and item.sitemap != false" | sort: "order" %}
  {% endif %}

  <header>
    <a href="{{ "/" | relative_url }}" class="title">{{ site.title | escape }}</a>
    {% include menu.html menu=pages %}
  </header>
  <body>
    {{ content }}
  </body>

  {% if site.external %}
  <footer>
    <div>{{ site.description | default: site.title }}</div>
    {% include menu.html menu=site.external %}
  </footer>
  {% endif %}
</html>
